body {
    font-family: Arial, sans-serif; 
    margin: 0;
}

nav { 
    display: flex;
    background-color: #333;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;

}


nav a:hover {
    color: #ffcc00;
}